/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
body{
	background-color: black;
}

h1{
	font-family: 'Francois One', sans-serif;
	color:#ffffff;
	letter-spacing: .8px;
	text-align:center;
	
}

@media only screen and (max-width: 500px) {
    h1{
      font-size: 2.5em;
        
    }
}

h2{font-family: 'Lato', sans-serif;
color:#ffffff;
font-weight: 300;

}




h3{
	font-family: 'Francois One', sans-serif;
	color:#ffffff;
	font-size: 2em;
	letter-spacing: .8px;
	text-align:center;
}

@media only screen and (max-width: 700px) {
    h3{
      font-size: 1.5em;
      padding-top: 10px;
      padding-left:10px;
      padding-right:10px;
        
    }
}


h4{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 300;
	font-size: 12px;
	text-align:center;
}


p{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 300;
	font-size: 20px;
}

@media only screen and (max-width: 800px) {
    p{
      font-size: 16px;
        
    }
}

@media only screen and (min-width: 800px) and (max-width: 1020px) {
    p{
      font-size: 18px;
        
    }
}

a{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
    a{
      font-size: 16px;
      text-decoration: none;
        
    }
}

@media only screen and (min-width: 800px) and (max-width: 1020px) {
    a{
      font-size: 18px;
      text-decoration: none;
        
    }
}



button{
	background-color:rgba(0, 0, 0, 0.5);
	width:20em;
	height:4em;
	border:none;
	letter-spacing: .5px;
	position: absolute;
    top: 70%;
    left: 35%;
    z-index: 100
}


button:hover{
	transition: border 0.5s ease;
	background-color:rgba(0, 0, 0, 0.9);
	border:1px solid white;
	width:20em;
	letter-spacing: .5px;
	position: absolute;
    top: 70%;
    left: 35%;
     z-index: 100
}

button:focus{
	transition: border 0.5s ease;
	background-color:rgba(0, 0, 0, 0.9);
	border:1px solid white;
	width:20em;
	letter-spacing: .5px;
	position: absolute;
    top: 70%;
    left: 35%;
    z-index: 100
}

/*button media queries*/
@media only screen and (max-width: 500px) {
   button{
      left:10%;
    }
}
@media only screen and (min-width:500px) and (max-width: 640px)   {
   button{
      left:25%;
    }
}
@media only screen and (min-width:640px) and (max-width: 940px)   {
   button{
      left:30%;
    }
}


.overlay{
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------------------------------------
   Intro Page
---------------------------------------------------------------------------------*/


.introtext{
	margin-top:6em;
	transition: 0.5s ease;
	z-index:1000;
}


@media only screen and (max-width: 500px) {
    .introtext{
      margin-top:4em;
        
    }
}

.intropage {
	width: 100%;
	height: 100%;
	color: #fffff;
	background-image: url("http://www.theepochtimes.com/n3/eet-content/uploads/2013/05/20120125-Brooklyn+Bridge-IMG_9622-Amal+Chen.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
/*	display: none;*/
}



.cta:hover{
	font-weight:400;
}



/*---------------------------------------------------------------------------------
   Question Shared States
---------------------------------------------------------------------------------*/




.questionbox{
	width:70%;
	height:80%;
	background-color: rgba(0, 0, 0, 0.7);
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
	z-index:500;
}
@media only screen and (max-width: 800px){
   .questionbox{
    width: 85%;
    height: 90%;
        }
}

.progressbar{
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    height: 4em;  
    padding-top:6px;
}


@media only screen and (max-width: 500px){
   .progressbar{
    width: 340px;
    height: 3em;
        }
}
.questionnumber{
	padding-top: 10px
}

@media only screen and (max-width: 500px){
   .questionnumber{
    padding-top: 10px;
    width: 100%;
    margin-bottom: 2px;
        
    }
}

.progresscircles{
	list-style: none;
	max-height:20px;
	margin-left:auto;
	margin-right:auto;
	padding-left: 45px;
	padding-top:5px;
}

@media only screen and (max-width: 500px){
   .progresscircles {
   		margin-top:3px;
        
    }
}
    

.progresscircles li{
	display:inline-block;
	border-radius: 50%;
	padding:4px;
	border:1px solid white;
	margin-left:20px;
	margin-right:20px;
}

@media only screen and (max-width: 500px){
   .progresscircles li{
    padding:3px;
    margin-left:18px;
        
    }
}

.filledcircle{
	background-color:white;

}

.emptycircle{
	background-color:none;
}

.leftcolumn{
	width: 40%;
    float: left;
    margin-left:20px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top:2em;
    padding-bottom:auto;
}

@media only screen and (max-width: 700px) {
    .leftcolumn{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
        
    }
}

@media only screen and (min-width: 700px) and (max-width: 1020px) {
    .leftcolumn{
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    padding-bottom:0;
        
    }
}

.rightcolumn{
	width: 40%;
    float: left;
    padding-left: 10px;
    margin-left:20px;
    margin-right: 20px;
    padding-top:2em;
    padding-bottom:auto;
}

@media only screen and (max-width: 700px) {
    .rightcolumn{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0px;
    padding-bottom:0;

    }
}


li.answer:hover{
	border:1px solid white;
}

@media only screen and (max-width: 700px) {
    ul.answercolumn{
    margin-bottom:-12px;

    }
}


.answercolumn li{
	background-color:none;
	min-height: 60px;
    padding-left: 43px;
    padding-bottom: 20px;
    padding-right:0px;
    z-index:1000;
}

@media only screen and (max-width: 700px) {
    .answercolumn li{
    padding-left: 0;
    min-height:40px;
    padding-bottom:0;
        
    }
}

@media only screen and (min-width: 700px) and (max-width: 1020px) {
    .answercolumn li{
    width: 100%;
    padding-left:0;
    padding-bottom:0;     
    }
}

.answercolumn li:hover{
	background-color:#ffffff;
	min-height: 60px;
    padding-left: 43px;
    padding-bottom: 20px;
    padding-right:0px;
    z-index:1000;
    border:1px solid white;
}


.answercolumn li img{
	padding-top:10px;
}

@media only screen and (max-width: 700px) {
    .answercolumn li img{
    max-height:40px;
    max-width:auto;
    z-index:1000;  
    }
}


.nextquestion{
	float:right;
	padding-right: 30px;
	font-size: 16px;
	z-index:1000;
}

.nextquestion:hover{
	font-weight:900;
}

@media only screen and (max-width: 800px) {
    .nextquestion{
      font-size: 12px;     
      padding-top:8px;
/*      padding-bottom:10px; */  
    }
}

.resultbox{
	width:50%;
	height:19em;
	background-color: rgba(0, 0, 0, 0.7);
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:8em;
	z-index:20;
}
@media only screen and (max-width: 800px){
   .resultbox{
    width: 85%;
    height: 90%;
        }
}

h2#youbelong{
	text-align: center;
	padding-top: 16px;
}

.links{
	width:100%;
}

#linkbox{
	width: 27%;
    float: left;
    border: 1px solid white;
    margin-left: 16px;
    margin-right: 10px;
    padding: 5px;
    height: 70px;

}

#linkcontent{
	margin:auto;
	padding-top: 10px

}

.icon{
	width: 25px;
    padding-left: 75px;
    padding-right: 69px;
}

#ctazill{
	padding-left: 46px
}

#ctayelp{
	padding-left: 13px
}

#ctatwit{
	padding-left: 46px
}

.startover{
	display: block;
    width: 7.3em;
    margin: auto;
}

.or{
	float:left;
}

.restartlink{
	float:left;
	padding-top:24px;
	padding-left:5px;
	text-decoration: underline;
}
/*---------------------------------------------------------------------------------
   Question Pages
---------------------------------------------------------------------------------*/


.question1{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/subway.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question2{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/london-shopper.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question3{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/williamsburg.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question4{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/original%20images/image.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question5{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/original%20images/Dumbo.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

/*---------------------------------------------------------------------------------
   Results Pages
---------------------------------------------------------------------------------*/

.Williamsburgresult{
	width: 100%;
	height: 100%;
	background-image: url("http://www.raystours.nyc/wp-content/uploads/2015/01/11-_DSC0134-001.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.Bushwickresult{
	width: 100%;
	height: 100%;
	background-image: url("https://joedicondina.files.wordpress.com/2015/05/bushwick1.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.CHeightsresult{
	width: 100%;
	height: 100%;
	background-image: url("http://blog.propcy.com/wp-content/uploads/2015/10/crown-heights-cover.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.bkHeightsresult{
	width: 100%;
	height: 100%;
	background-image: url("https://www.walksofnewyork.com/blog/wp-content/uploads/2012/07/Cranberry-St-1024x768.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.dumboresult{
	width: 100%;
	height: 100%;
	background-image: url("http://pixel.nymag.com/imgs/daily/intelligencer/2015/10/10/10-dumbo-brooklyn.w750.h560.2x.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.parkslopeesult{
	width: 100%;
	height: 100%;
	background-image: url("http://www.boweryboyshistory.com/wp-content/uploads/2015/05/MIN_114-Park-Slope_flowerhomes.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

