/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
body{
	background-color: black;
}

h1{
	font-family: 'Francois One', sans-serif;
	color:#ffffff;
	letter-spacing: .8px;
	text-align:center;
	
}

h2{font-family: 'Lato', sans-serif;
color:#ffffff;
font-weight: 300;

}

h3{
	font-family: 'Francois One', sans-serif;
	color:#ffffff;
	font-size: 2em;
	letter-spacing: .8px;
	text-align:center;
}

h4{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 300;
	font-size: 12px;
	text-align:center;
}

p{
	font-family: 'Lato', sans-serif;
	color:#ffffff;
	font-weight: 300;
	font-size: 20px;
}

button{
	background-color:rgba(0, 0, 0, 0.5);
	width:20em;
	border:none;
	letter-spacing: .5px;
	position: absolute;
    top: 70%;
    left: 40%;
}

button:hover{
	transition: border 0.5s ease;
	background-color:rgba(0, 0, 0, 0.9);
	border:.5px solid white;
	width:20em;
	letter-spacing: .5px;
	position: absolute;
    top: 70%;
    left: 40%;
}


.overlay{
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------------------------------------
   Intro Page
---------------------------------------------------------------------------------*/


.introtext{
	margin-top:6em;
	transition: 0.5s ease;
}


.intropage {
	width: 100%;
	height: 100%;
	color: #fffff;
	background-image: url("http://www.theepochtimes.com/n3/eet-content/uploads/2013/05/20120125-Brooklyn+Bridge-IMG_9622-Amal+Chen.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.cta:hover{
	font-weight:400;
}



/*---------------------------------------------------------------------------------
   Question Shared States
---------------------------------------------------------------------------------*/




.questionbox{
	width:70%;
	height:34em;
	background-color: rgba(0, 0, 0, 0.7);
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:3em;
}

.progressbar{
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    height: 4em;  
    padding-top:6px;
}

.questionnumber{
	padding-top: 10px
}

.progresscircles{
	list-style: none;
	max-height:20px;
	margin-left:auto;
	margin-right:auto;
}

.progresscircles li{
	display:inline-block;
	border-radius: 50%;
	padding:4px;
	border:1px solid white;
	margin-left:20px;
	margin-right:20px;
}

.filledcircle{
	background-color:white;

}

.emptycircle{
	background-color:none;
}

.leftcolumn{
	width: 40%;
    float: left;
    margin-left:20px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top:auto;
    padding-bottom:auto;
}

.rightcolumn{
	width: 40%;
    float: left;
    padding-left: 10px;
    margin-left:20px;
    margin-right: 20px;
    padding-top:auto;
    padding-bottom:auto;
}

.answercolumn li{
	background-color:none;
	min-height: 60px;
    padding-left: 43px;
    padding-bottom: 20px;
    padding-right:0px;
}

.answercolumn li img{
	padding-top:10px;
}

.nextquestion{
	clear:both;
	float:right;
	padding-right: 30px;
	font-size: 16px;
}

/*---------------------------------------------------------------------------------
   Question 1
---------------------------------------------------------------------------------*/


.question1{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/subway.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question2{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/london-shopper.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question3{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/Exports/williamsburg.png");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question4{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/original%20images/image.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	display: none;
}

.question5{
	width: 100%;
	height: 100%;
	background-image: url("file:///Users/Tatiana/Documents/Thinkful/Project/brooklyn-quiz/original%20images/Dumbo.jpg");
	position: absolute;
	background-position: center;
	background-size: cover;
	top: 0;
	left: 0;
	right:0;
	margin: 0;
	z-index:5;
	overflow: hidden;
	/*display: none;*/
}


